.navbar-brand {
    background-color: grey

}

body {
    background-color: green
}
.content {
   background-color: white;
    width: 500px;
    height: 400px;
    margin-top: 200px;
    align-items: center;
}

img {
    width: 20%;
}

.contact-info {
    font-size: 36px;
    color: orange; 
}

.contact-info a {
    font-size: 36px;
    color: orange; 
}

.works a {
font-size: 36px;
color: orange;
}

.works img{
display: block;
width: 500px;
/* margin: auto;  */
}